/*.debhelper
/*.substvars
/*.log
/*-stamp
/files
/libow-*/
/libow-dev/
/libowcapi-*/
/libownet-*/
/libownet-dev/
/ow-shell/
/ow-tools/
/owfs-common/
/owfs-dbg/
/owfs-doc/
/owfs-fuse/
/owfs/
/owftpd/
/owhttpd/
/owserver/
/python-ow/
/python-ownet/
/tmp/
